{% extends 'base.html' %}
{% from "macros.html" import render_completed_task with context %}
{% from "macros.html" import nav_bar %}

{% block body %}
<div class="content">
    <button id="nav-toggle">Toggle Nav</button>
    <button id="home"> Home </button>

    {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no completed tasks.</h4>
    {% else %}
        {% set ns = namespace(displayed_week=0) %}

        {% for task in tasks %}
            {% set task_week = task.due_date.isocalendar()[1] %}
            {% set task_year = task.due_date.date().year %}
            
            {% if task_week != ns.displayed_week %}
                
                {% if ns.displayed_week != 0 %}
                    </table>
                {% endif %}

                <h2> {{ task_year }} Week {{ task_week }}</h2>

                <table>
                    <tr>
                        <th>Done?</th>
                        <th>Task Name</th>
                        <th>Tag</th>
                        <th>Priority</th>
                        <th>Due Date</th>
                    </tr>
                    {{ render_completed_task(task) }}
                        
                    {% set ns.displayed_week = task_week %}
                {% else %}
                    {{ render_completed_task(task) }}
                {% endif %}
        {% endfor %}
    {% endif %}

{{ nav_bar(task_weeks, now) }}

{% endblock %}