{% extends 'base.html' %}
{% from "macros.html" import render_task with context %}

{% block head %}
<title>Isabelle's Workspace!</title>
{% endblock %}

{% block body %}
<div class="content">
    <button id="nav-toggle">Toggle Nav</button>
    <form action="/clear_database" method="POST">
        <button id="clear-db" type="submit">Clear Database</button>
    </form>

    <h1 style="text-align: center">Isabelle's Workspace!</h1>

    <form method="POST" action="/set_timezone">
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set Timezone">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <div class="form">
        <form action="/" method="POST">
            <label for="task_name">Task Name</label>
            <input type="text" name="task_name" id="task_name">
            <br>
            <label for="tag">Tag</label>
            <input list="tags" name="tag" id="tag">
            <datalist id="tags">
                {% for tag in unique_tags %}
                    <option value="{{ tag[0] }}">{{ tag[0] }}</option>
                {% endfor %}
            </datalist>
            <br>
            <label for="due_date">Due Date</label>
            <input type="date" name="due_date" id="due_date">
            <br>
            <label for="priority">Priority</label>
            <select name="priority" id="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                <option value="urgent">Urgent</option>
            </select>
            <br>
            <input type="submit" value="Add Task">
        </form>
    </div>
    
    <br>
    {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
        {% set current_week = now.isocalendar()[1] %}
        {% set next_week = current_week + 1 %}

        {% set current_year = now.year %}

        {% set ns = namespace(displayed_week=0) %}

        {% for task in tasks %}
            {% set task_week = task.due_date.isocalendar()[1] %}
            {% set task_year = task.due_date.date().year %}
            {% if (not task.done) %}
                {% if task_week != ns.displayed_week %}
                    {% if ns.displayed_week != 0 %}
                        </table>
                    {% endif %}

                    {% if task_year <= current_year and (task_week<=current_week or task_week==next_week)%}

                    <h2> {{ task_year }} Week {{ task_week }}</h2>

                    <table>
                        <tr>
                            <th>Done?</th>
                            <th>Task Name</th>
                            <th>Tag</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                            <th>Time Elapsed</th>
                        </tr>
                        {{ render_task(task, now) }}
                    {% endif %}
                        
                    {% set ns.displayed_week = task_week %}
                {% else %}
                    {{ render_task(task, now) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

<nav>
    {% for year in range(now.year, now.year + 2) %}
        {% for week in range(1, 53) %}
            {% if (year, week) in task_weeks %}
                <a href="/week/{{ year }}/{{ week }}">Week {{ week }}, {{ year }}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <a href="/completed">completed</a>
</nav>

{% endblock %}