{% extends 'base_scheduler.html' %}

{% from "macros.html" import nav_bar %}

{% block head %}
<title>Scheduler</title>
{% endblock %}

{% block body %}
<div class="content">
  <button id="nav-toggle">Toggle Nav</button>
  <br />
  <button id="home">Home</button>
  <br />

  <div class="form">
    <form action="/get_events" method="GET">
      <label for="event_name">Event Name</label>
      <input type="text" name="event_name" id="event_name" />
      <br />
      <label for="cal_id">Calender ID</label>
      <input list="calender_ids" name="cal_id" id="cal_id" />
      <datalist id="calender_ids">
        {% for cal in calender_ids %}
        <option value="{{ cal.id }}">{{ cal.summary | safe }}</option>
        {% endfor %}
      </datalist>
      <br />
      <label for="start_date">Start Date</label>
      <input type="date" name="start_date" id="start_date" />
      <br />
      <label for="end_date">End Date</label>
      <input type="date" name="end_date" id="end_date" />
      <br />
      <label for="time_zone">Time Zone</label>
      <input list="time_zones" name="time_zone" id="time_zone" />
      <datalist id="time_zones">
        {% for tz in time_zones %}
        <option value="{{ tz }}">{{ tz | safe }}</option>
        {% endfor %}
      </datalist>
        
      <input type="submit" value="Submit" />
    </form>
  </div>

    {% if events_to_write == [] %}

    <h3>No Events Found</h3>

    {% else %}
    
    <ul>
    {% for event in events_to_write %}
        <li>{{ event | safe}}</li>
    {% endfor %}
    </ul>

    {% endif %}

</div>

{% endblock %}

